pipeline/ingest-gldata.json
{
	"name": "ingest-gldata",
	"properties": {
		"activities": [
			{
				"name": "getAirTableToken",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://datalake-resources-vault.vault.azure.net/secrets/airtable-token/33272238465c46f58fb03737df475bac?api-version=7.0",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "setAirTableTokenVariable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "getAirTableToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "airTableBearerToken",
					"value": "@concat('Bearer ', activity('getAirTableToken').output.value)"
				}
			},
			{
				"name": "get_planful_gldata",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "setAirTableTokenVariable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "@variables('airTableBearerToken')",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"QueryParameters.offset": "$.offset"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings",
							"copyBehavior": "FlattenHierarchy"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['id']"
								},
								"sink": {
									"path": "$['records'][0]['id']"
								}
							},
							{
								"source": {
									"path": "['createdTime']"
								},
								"sink": {
									"path": "$['records'][0]['createdTime']"
								}
							},
							{
								"source": {
									"path": "$['records'][0]['fields']['Scenario']"
								},
								"sink": {
									"path": "$['Scenario']"
								}
							},
							{
								"source": {
									"path": "$['records'][0]['fields']['FiscalYear']"
								},
								"sink": {
									"path": "$['records'][0]['fields']['YtdAmount']"
								}
							},
							{
								"source": {
									"path": "['fields']['Segment6']"
								},
								"sink": {
									"path": "$['records'][0]['fields']['Segment6']"
								}
							},
							{
								"source": {
									"path": "['fields']['FiscalYear']"
								},
								"sink": {
									"path": "$['FiscalYear']"
								}
							},
							{
								"source": {
									"path": "$['records'][0]['fields']['Segment1']"
								},
								"sink": {
									"path": "$['Segment1']"
								}
							},
							{
								"source": {
									"path": "$['records'][0]['fields']['Segment2']"
								},
								"sink": {
									"path": "$['Segment2']"
								}
							},
							{
								"source": {
									"path": "$['records'][0]['fields']['Segment3']"
								},
								"sink": {
									"path": "$['Segment3']"
								}
							},
							{
								"source": {
									"path": "$['records'][0]['fields']['Segment4']"
								},
								"sink": {
									"path": "$['Segment4']"
								}
							},
							{
								"source": {
									"path": "$['records'][0]['fields']['Segment5']"
								},
								"sink": {
									"path": "$['Segment5']"
								}
							},
							{
								"source": {
									"path": "$['records'][0]['fields']['Segment6']"
								},
								"sink": {
									"path": "$['Segment6']"
								}
							},
							{
								"source": {
									"path": "$['records'][0]['fields']['Segment7']"
								},
								"sink": {
									"path": "$['Segment7']"
								}
							},
							{
								"source": {
									"path": "$['records'][0]['fields']['Segment8']"
								},
								"sink": {
									"path": "$['Segment8']"
								}
							},
							{
								"source": {
									"path": "$['records'][0]['fields']['Reporting']"
								},
								"sink": {
									"path": "$['Reporting']"
								}
							},
							{
								"source": {
									"path": "$['records'][0]['fields']['MonthName']"
								},
								"sink": {
									"path": "$['MonthName']"
								}
							},
							{
								"source": {
									"path": "$['records'][0]['fields']['FiscalMonth']"
								},
								"sink": {
									"path": "$['FiscalMonth']"
								}
							},
							{
								"source": {
									"path": "$['records'][0]['fields']['MtdAmount']"
								},
								"sink": {
									"path": "$['MtdAmount']"
								}
							},
							{
								"source": {
									"path": "$['records'][0]['fields']['YtdAmount']"
								},
								"sink": {
									"path": "$['YtdAmount']"
								}
							},
							{
								"source": {
									"path": "$['records'][0]['fields']['QtdAmount']"
								},
								"sink": {
									"path": "$['QtdAmount']"
								}
							}
						],
						"collectionReference": "$['records']"
					}
				},
				"inputs": [
					{
						"referenceName": "ds_planful_gldata",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_planful_gldata_json",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"airTableToken": {
				"type": "String"
			},
			"airTableBearerToken": {
				"type": "String"
			}
		},
		"annotations": []
	}
}