pipeline/test-rest-pipeline-1.json
{
	"name": "test-rest-pipeline-1",
	"properties": {
		"activities": [
			{
				"name": "getAirTableToken",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://datalake-resources-vault.vault.azure.net/secrets/airtable-token/33272238465c46f58fb03737df475bac?api-version=7.0",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "setAirTableTokenVariable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "getAirTableToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "airTableBearerToken",
					"value": "@activity('getAirTableToken').output.value"
				}
			},
			{
				"name": "callRestService",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "setAirTableTokenVariable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"Authorization": {
							"value": "@variables('airTableBearerToken')",
							"type": "Expression"
						}
					},
					"url": "https://api.airtable.com/v0/app37qLBTI0RQvW9y/tbl143cu7ktWAeHMF"
				}
			}
		],
		"variables": {
			"airTableToken": {
				"type": "String"
			},
			"airTableBearerToken": {
				"type": "String"
			}
		},
		"annotations": []
	}
}